.App {
  text-align: center;
  margin-top: 50px;
}
body{
  background: rgba(133,228,255,1);
  background: -moz-linear-gradient(left, rgba(133,228,255,1) 0%, rgba(0,145,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(133,228,255,1)), color-stop(100%, rgba(0,145,255,1)));
  background: -webkit-linear-gradient(left, rgba(133,228,255,1) 0%, rgba(0,145,255,1) 100%);
  background: -o-linear-gradient(left, rgba(133,228,255,1) 0%, rgba(0,145,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(133,228,255,1) 0%, rgba(0,145,255,1) 100%);
  background: linear-gradient(to right, rgba(133,228,255,1) 0%, rgba(0,145,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85e4ff', endColorstr='#0091ff', GradientType=1 );  
}
.col-92::selection,.col-8::selection,#deleteIcon::selection {
  color: none;
  background: none;
}

#appName{
  color:white;
  font-family: 'Kaushan Script', cursive;
  font-size: 60px
}

.white {
  color: white;
}

.link {
  text-decoration: none;
}
#todoInput{
  background-color: #282c34;
  border : none;
  color: white;
  text-align : center;
  height: 30px;
  border-bottom: 1px solid white;
  font-size: 25px;
}

input#todoInput:focus, #todoItem:focus{
  outline: none;
}

#todoSubmit {
  border: none;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  margin-left: 32px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  transition: text-shadow 0.3s ease;
  background-color: #19698C;
  border-color: #384B64;
}

#todoSubmit:hover, #todoItem:hover{
  cursor: pointer;
}

#todoItem{
  color:white;
  border:white;
  margin: auto;
  border: 2px solid white;
  height : 50px;
  margin-bottom: 5px;
  text-align:left;
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.col-8 {
  background-color: salmon;
  border-color: rgb(150,120,120);
  float: left;
  width: 8%;
  text-align:center;
  height : 100%;
}

.col-92 {
  float: left;
  width: 92%;
  margin-top: 6px;
  outline:none;
}

#deleteIcon{
  position:relative;
  top: 4.5px;
}